@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Roboto&display=swap");

* {
    font-family: Poppins, 'Courier New', Courier, monospace;
    box-sizing: border-box;

}

:root {
    --green1: #E1F0DA;
    --green2: #D4E7C5;
    --green3: #BFD8AF;
    --green4: #99BC85;
    --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
    --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
}

body {
    background-color: var(--green1);
    margin: 0;
    padding: 0;
}



.navigator {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    width: 100%;
    height: 5rem;
    padding: 0 8rem;
}

.sticky {
    position: fixed;
    top: 0;
    background-color: rgba(255, 255, 255, 0.95);

}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.logo__name {
    padding-left: 1.3rem;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.menu__btn {
    border: none;
    background-color: transparent;
    font-size: 1rem;
    margin: 1rem;
    list-style: none;
    text-align: center;
    padding: 0.5rem 1rem;
}

.active {
    background-color: var(--green4);
    border-radius: 2rem;

}

.hover {
    opacity: 45%;
}

/* -------------------------------main ------------------- */


/*--------------------------under navigator-------------------*/
.underNav {
    display: flex;
    justify-content: space-around;
    margin: 6rem 8rem 10rem 8rem;
}

.underNav__line1 {
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    line-height: 1.35;
}

.underNav__line1 span {
    position: relative;
}

.underNav__line1 span::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
    transform: scale(1.07, 1.05)skewX(-15deg);
    background: var(--gradient-primary);
}

.underNav__line2 {
    margin-top: 0;
    font-size: 1.3rem;
    font-weight: 500;
}

.underNav__learnmore-btn {
    border: none;
    background: none;
    color: green;
    font-size: 1rem;
    margin-top: 1.5rem;
    padding-left: 0rem;
    border-bottom: solid green 1px;
}

.underNav__img {
    width: 40%;
    height: 55%;
}

/* -----------------------feature-------------------- */
.feature {
    border-top: solid 1.5px #cfcbcb;
}

.feature__tag {
    color: #39b385;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 10rem 18rem 1rem 18rem;
}

.feature__explain {
    font-size: 2.5rem;
    color: #444444;
    line-height: 3rem;
    margin: 1.2rem 18rem 15rem 18rem;
}

/* --------------------------feature__details------------------------- */
.feature__details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0px 10rem 6rem 10rem;
    grid-gap: 2rem;
}

.feature__details-img {
    max-width: 100%;
}

.feature__details-svg {
    /* border-radius: 3rem;
    padding: 3rem;
    background-color: #39b385; */

}

.feature__details-text {
    padding-left: 5rem;
    padding-bottom: 4rem;
    width: 90%;
}

.feature__details-p {
    color: #444444;
}