@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Roboto&display=swap");

* {
    font-family: Poppins, 'Courier New', Courier, monospace;
    box-sizing: border-box;

}

:root {
    --green1: #E1F0DA;
    --green2: #D4E7C5;
    --green3: #BFD8AF;
    --green4: #99BC85;
    --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
    --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
}

body {
    background-color: var(--green1);
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
}

.cookies {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--green3);
    align-items: center;
}

.navigator {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    width: 100%;
    height: 5rem;
    padding: 0 8rem;
}

.sticky {
    position: fixed;
    top: 0;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 20;
    width: 100%;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.logo__name {
    padding-left: 1.3rem;
}

.menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.menu__btn {
    border: none;
    background-color: transparent;
    font-size: 1rem;
    margin: 1rem;
    text-align: center;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.link {
    text-decoration: none;
}

.link:visited {
    color: inherit;
}

.link:link {
    color: inherit;
}

.active {
    background-color: var(--green4);
    border-radius: 2rem;

}

.hover {
    opacity: 45%;
}

/* -------------------------------main ------------------- */

.section__hidden {
    opacity: 0;
    transform: translateY(16rem);
}

/*--------------------------under navigator-------------------*/
.underNav {
    display: flex;
    justify-content: space-around;
    padding: 6rem 8rem 10rem 8rem;
}

.underNav__line1 {
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    line-height: 1.35;
}

.underNav__line1 span {
    position: relative;
}

.underNav__line1 span::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
    transform: scale(1.07, 1.05)skewX(-15deg);
    background: var(--gradient-primary);
}

.underNav__line2 {
    margin-top: 0;
    font-size: 1.3rem;
    font-weight: 500;
}

.underNav__learnmore-btn {
    border: none;
    background: none;
    color: green;
    font-size: 1rem;
    margin-top: 1.5rem;
    padding-left: 0rem;
    border-bottom: solid green 1px;
    cursor: pointer;
}

.underNav__img {
    width: 40%;
    height: 55%;
}

/* -----------------------feature-------------------- */
.section {
    border-top: solid 1.5px #cfcbcb;
    transition: transform 1s, opacity 1s;
}

.tag {
    color: #39b385;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 7rem 18rem 1rem 18rem;
}

.explaination {
    font-size: 2.5rem;
    color: #444444;
    line-height: 3rem;
    margin: 1.2rem 17rem 6rem 18rem;

}

/* --------------------------feature__details------------------------- */
.feature__details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0px 10rem 10rem 10rem;
    grid-gap: 2rem;
}

.feature__details-img {
    max-width: 100%;
}

.grid-column1 {
    grid-column: 1;
}

.grid-column2 {
    grid-column: 2;
}

.feature__details-svg {
    width: 2.5rem;
    height: 2.5rem;
}

.feature__details-text {
    padding: 1rem 1rem 5rem 4rem;
    width: 90%;
}

.feature__details-p {
    color: #444444;
}

/* -------------------------------operations------------------------- */
/* .operation {
    border-top: solid 1.5px #cfcbcb;
} */

.operation__details {
    margin: 0 auto 11rem auto;
    width: 60rem;
}

.operation__details-tabs {
    display: flex;
    justify-content: center;
    position: relative;

}

.operation__details-tab {
    border-radius: 2rem;
    margin-right: 2rem;
    padding: 0.7rem 3rem;
    font-size: 1rem;
    border: none;
    z-index: 1;
    cursor: pointer;
}

.transfer_btn {
    background-color: hsl(59, 51%, 57%);
}

.loan_btn {
    background-color: rgb(128, 136, 196);
}

.close_btn {
    background-color: rgb(250, 142, 142);
}

/* --------------------------operation_details-text------------------------- */
.operation_details-text {
    display: none;
}

.selected_text {
    background-color: #FFFFFF;
    display: flex;
    transform: translateY(-8%);
    margin: auto;
    align-items: center;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.selected_btn {
    transform: translateY(-17%);
    box-shadow:
        rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    transition: all 0.5s;
    cursor: pointer;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

/* .visible {
    visibility: visible;
    opacity: 100;
} */

.operation_details-header {
    margin-top: 5rem;
}

.operation_details-explaination {
    font-size: 1rem;
    font-weight: 300;
    color: #444444;
    margin-bottom: 6rem;
    margin-right: 6rem;
}


/* ---------------------------------sure----------------------------- */
.sure {
    /* margin-top: 2rem; */
    border-top: 1px solid #444444;

}

/* --------------------------------------slider----------------------- */
.slider {
    position: relative;
    max-width: 63rem;
    margin: 0 auto;
    overflow: hidden;
    height: 30rem;
}

.slide {
    position: absolute;
    top: 0;
    width: 100%;
    height: 20rem;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    transition: transform 1s;

}

.testimonial {
    width: 65%;
    position: relative;
}

.testimonial::before {
    content: "\201C";
    font-size: 10rem;
    color: rgb(247, 60, 60);
    position: absolute;
    left: -3.8rem;
    top: -5.7rem;
}

.testimonial_header {
    font-weight: 400;
    font-size: 1.5rem;
    margin: 0;
}


.testimonial_txt {
    font-size: 1.1rem;
    /* font-weight: 300; */
    color: #666;
    margin-left: 0;
    line-height: 2rem;
}

.testimonial__author {
    display: grid;
    grid-template-columns: 5rem, 2fr;
    grid-template-rows: 1fr, 1fr;
    column-gap: 1rem;
    position: absolute;
    transform: translateX(10%);
    line-height: 0;
}

.testimonial_img {
    grid-row: 1/apan 2;
    border-radius: 50%;
    width: 3.8rem;
}

.testimonial_name {
    columns: 2;
    grid-row: 1;
    font-size: 1rem;
    font-weight: 500;

}

.testimonial_loc {
    grid-row: 2;
    grid-column: 2;
    font-weight: 300;
    font-size: 0.9rem;
    color: #666;
}

/* --------------------------------slider_btn---------------------------- */
.slider_btn {
    /* position: absolute;
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    border: none;
    background-color: #FFFFFF;
    font-size: 3rem; */
    position: absolute;
    top: 50%;
    z-index: 10;
    border: none;
    background: rgba(255, 255, 255, 0.7);
    font-family: inherit;
    color: #333;
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    font-size: 2rem;
    cursor: pointer;
}

.btn_left {
    /* left: 11rem;*/
    /* top: 9%; */
    left: 6%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.btn_right {
    /* right: 11rem;
    top: 9rem; */
    right: 6%;
    transform: translate(50%, -50%);
    cursor: pointer;
}




/* --------------------------------circle btn------------------- */
.circle_btns {
    position: absolute;
    top: 80%;
    left: 46%;
}

.circle_btn {
    border-radius: 50%;
    height: 0.7rem;
    width: 0.2rem;
    border: none;
    background-color: #585858;
    opacity: 30%;
    margin-right: 1rem;
}

.circle_btn_active {
    opacity: 90%;
}

/* -------------------------------open account-------------------- */
.open__account {
    background-color: #37383D;
    text-align: center;
    margin-bottom: 3rem;
    border-bottom: 1px solid rgb(129, 124, 124);
    padding: 0;
    margin: 0;
}

.open__account-header {
    text-align: center;
    color: white;
    padding: 2rem;
    font-size: 2.5rem;
}

.open__account-btn {
    padding: 1.5rem 5rem;
    border: none;
    border-radius: 10rem;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: #4BBB7D;
    margin-bottom: 5rem;

}

footer {
    background-color: #37383D;
    text-align: center;
    padding-top: 3rem;
}

.footer__ul {
    display: flex;
    justify-content: center;
    list-style: none;
    color: white;
    margin-top: 3rem;
    margin: 3rem auto;
}

.footer__li- {
    font-weight: 100;
    font-size: 1rem;
    margin-right: 3rem;
}


.footer__copyright {
    padding-bottom: 8rem;
    color: rgb(167, 163, 163);
    font-size: 0.8rem;
    font-weight: 200;
    margin-top: 2.5rem;
    margin-bottom: 0;
}

/* -------------------------------popup open account------------------- */
.popup__openaccount {
    width: 35rem;
    background-color: #f3f3f3;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    padding: 3rem;
    transition: all 0.5s;
}

.popup__openaccount-closebtn {
    position: absolute;
    right: 1rem;
    top: 1rem;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    opacity: 0.7;
}

.popup__openaccount-tiltle {
    font-size: 2rem;
    font-weight: 600;
}

.popup__openaccount-tiltle span {
    position: relative;
}

.popup__openaccount-tiltle span::after {
    display: block;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    content: " ";
    background: var(--gradient-primary);
    width: 10rem;
    height: 2.8rem;
    transform: scale(1.07, 1)skewX(-10deg);
    opacity: 0.7;
}

.popup__openaccount-form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 3rem;
    align-items: center;
}

.popup__openaccount-label {
    grid-column: 1;
    font-size: 1.2rem;
    font-weight: 500;
}

.popup__openaccount-input {
    grid-column: 2;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
}

.popup__openaccount-nextbtn {
    grid-column: 1/span 2;
    width: 12rem;
    justify-self: center;
    border-radius: 3rem;
    border: none;
    background-color: var(--green4);
    font-size: 1rem;
    padding: 1rem;
    cursor: pointer;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    z-index: 9;
}